<div class = "row">
  <h3 class = "mx-auto">退会確認画面</h3>
</div>
<div class = "row">
  <h6 class = "mx-auto">退会しますか？</h6>
</div>
<div class = "row">
 <div class = "col text-center">
   <div class="btn btn-outline-primary">
    <%= link_to "退会しない", customers_path(@customer.id) %>
   </div>
 </div>
 <div class = "col">
  <%= form_with model: @customer_is_deleted, url: customers_infomation_path, method: :patch do |f| %>
    <%= f.hidden_field :is_deleted, :value => true %>
    <div class = "text-center">
      <h4><%= f.submit "退会する", class: "btn btn-danger" %></h4>
    </div>
  <% end %>
 </div>
</div>