<div class = "row">
  <h3 class = "mx-auto">退会確認画面</h3>
</div>
<div class = "row">
  <h6 class = "mx-auto">退会しますか？</h6>
</div>
<div class = "row">
 <div class = "col text-center">
   <div class="btn btn-outline-primary">
    <%= link_to "退会しない", customers_path(current_customer.id) %>
   </div>
 </div>
 <div class = "col">
  <!--%= form_with model: @customer, url: customers_withdraw_path, method: :patch do |f| %>-->
    <!--%= f.hidden_field :is_deleted, :value => true %>-->
    <div class = "text-center">
      <!--<h4>%= f.submit "退会する", class: "btn btn-danger" %></h4>-->
      <%= link_to "退会する", withdraw_customer_path(current_customer.id), method: :patch, data: { confilm: "本当に退会しますか？" } %>
    </div>
  <!--% end %>-->
 </div>
</div>