@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.card{
 background-size: cover;
}

.card-img-overlay{
  padding: 0;
  top: calc(60%);
  text-align: center;
}

.cover-text{
  padding: 0;
  background-color: white;
}


