/*viwes/public/items/index.html*/
.item_count {
  font-size:20px;
}

.button {
  width: 120px;
}

.caption{
  width: 50%;
  text-align: center;
}

/*入力フォーム*/
.email {
  width: 400px;
}
.field {
  display:flex;
  padding-bottom: 10px;
  width: 100%;
  /*justify-content:space-around;*/
}

.label {
  display: inline-block;
  width: 30%;
  /*text-align: right;*/
  /*margin-right: 100px;*/
}

.input_text {
  display: inline-block;
  width: 50%;
}

.actions {
  text-align: center;
  position: relative;
  right: 80px;
  margin-top: 20px;
}

.sign_up_link {
  width: 70%;
  text-align: center;
  margin-top: 20px;
}

h5 {
  margin-right: 200px
}